.wrap {
    padding: 20px;
    margin: 10px;
    display: block;
    border-radius:0px 0px 12px 0px;
    border-width:1px 3px 5px 1px;
    border-color:#FFC080;
    border-style:solid;
}

.formdiv {
    display: inline-flex;
}

form {
    display: table;
    table-layout: fixed;
}

span {
    display: table-row;
}

p {
    width: 100%;
    text-align:center;
}

label, input {
    display: table-cell;
}